@model StreetFighter.Web.Models.FichaTecnicaModel
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="corpo">
    <h1>@(Model.Nome)</h1>
    
    <img class="col-md-5 col-no-float" src="~/Content/Images/@Model.UrlDaImagem" width="260" height="480" alt="Imagem do personagem Blanka" />

    <ul class="col-md-5 col-no-float">
        <li><strong>Nascimento: </strong> @(Model.DataNascimento.ToString("dd 'de' MMMM 'de' yyyy"))</li>
        <li><strong>Altura: </strong> @(Model.Altura) cm</li>
        <li><strong>Peso: </strong> @(Model.Peso) kg</li>
        <li><strong>Origem: </strong> @(Model.Origem)</li>
        <li><strong>Golpes especiais: </strong> @(Model.GolpesEspeciais)</li>
    </ul>


</div>
