@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "Lista de Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Cadastro", "StreetFighter"))
{
    <button class="btn btn-default" type="submit">Cadastro</button>
    <h3>@ViewBag.Mensagem</h3>
}

<h3>Clique sobre algum personagem para ver sua ficha técnica: </h3>


<div class="lista-de-personagens row">
    <div class="filtro">
        @using (Html.BeginForm("ListaDePersonagens", "StreetFighter", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="col-sm-12 input-group">
                @Html.TextBox("filtro", "", new { @class = "form-control", @placeholder = "Filtrar por..." })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Filtrar</button>
                </span>
            </div>
        }
    </div>
    <div class="personagens">
        @foreach (var personagem in Model)
        {
            @Html.ActionLink($"{personagem.Nome}", "FichaTecnica", new { id = personagem.Id }, new { @class = "col-xs-8 btn btn-default" })
            @Html.ActionLink("Editar", "EditarPersonagem", new { id = personagem.Id }, new { @class = "col-xs-2 btn btn-warning" })
            @Html.ActionLink("Excluir", "ExcluirPersonagem", new { id = personagem.Id }, new { @class = "col-xs-2 btn btn-danger" })
        }
    </div>
</div>